.softSkill p {
  position: relative;
  bottom: 50px;
  left: 12%;
  color: rgb(228, 228, 228) !important;
  font-weight: 700;
  background-color: black;
  width: 75%;
  border-radius: 15px;
}

.softSkill img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 10px;
}

.projectButton {
  background-color: rgb(22, 21, 21);
  border: 2px solid green;
  color: green !important;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.certificate:hover {
  cursor: pointer;
}

.certificate img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 10px;
}

.certificate h5 {
  position: relative;
  bottom: 140px;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  width: 80%;
  padding-left: 20%;
  font-weight: 800;
  font-family: "Courier New", Courier, monospace;
}

.darkCertificate {
  color: rgb(248, 101, 4) !important;
}

.certificateDesc {
  padding-top: 5rem;
}

.my-first-atropos {
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.my-second-atropos {
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-third-atropos {
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-fourth-atropos {
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-fifth-atropos {
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-sixth-atropos {
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
